/* font size */
.f12 {
	font-size:12px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.f36 {
	font-size: 36px;
}
/* h1-h6 */
h1, .h1 {
	font-size: 36px;
}
h2, .h2 {
	font-size: 30px;
}
h3, .h3 {
	font-size: 24px;
}
h4, .h4 {
	font-size: 18px;
}
h5, .h5 {
	font-size: 14px;
}
h6, .h6 {
	font-size: 12px;
}
/* color  */
.color-red {
	color: #f30;
}
.color-yellow {
	color: #ff3;
}
.color-orange {
	color: #ff4a00;
}
.color-blue {
	color: #00f;
}
.color-green {
	color: #0f0;
}
.color-grey {
	color: #ccc;
}

/* background */
.bg-blue {
	background: #428bca;
}
.bg-pink {
	background: #fcf8e3;
}
.bg-dff0d8 {
	background: #dff0d8;
}
.bg-d9edf7 {
	background: #d9edf7;
}

/* link */
a {
	color: #666;
}
a:hover {
	text-decoration: underline;
}

/* float */
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}

/* display */
.dis-none {
	display: none;
}
.dis-block {
	display: block;
}
.dis-inline {
	display: inline;
}
.dis-inlineblock {
	display: inline-block;
}
.dis-table {
	display: table;
}

