/* font size 字体大小*/
.f12 {
	font-size:12px;
}
.f14 {
	font-size:14px;
}
.f16 {
	font-size:16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.f36 {
	font-size: 36px;
}
/* color 字体颜色 */
/* 红色 */
.c-red {
	color: #f30;
}
/* 黄色 */
.c-yellow {
	color: #ff3;
}
/* 橙色 */
.c-orange {
	color: #ff4a00;
}
/* 蓝色 */
.c-blue {
	color: #00f;
}
/* 绿色 */
.c-green {
	color: #0f0;
}
/* 灰色 */
.c-grey {
	color: #ccc;
}
/* 黑色 */
.c-black {
	color: #000;
}
/* 白色 */
.c-white {
	color: #fff;
}

/* 背景颜色 */
/* 红色 */
.bg-red {
	background: #f30;
}
/* 黄色 */
.bg-yellow {
	background: #ff3;
}
/* 橘色 */
.bg-orange {
	background: #ff4a00;
}
/* 蓝色 */
.bg-blue {
	background: #00f;
}
/* 绿色 */
.bg-green {
	color: #0f0;
}
/* 灰色 */
.bg-grey {
	color: #ccc;
}
/* 黑色 */
.bg-black {
	color: #000;
}
/* 白色 */
.bg-white {
	color: #fff;
}

/* float 浮动 */
/* 居左 */
.f-left {
	float: left;
}
/* 居右 */
.f-right {
	float: right;
}
/* 默认没有浮动 */
.f-none {
	float: none;
}

/* display 显示 */
/* 不显示 */
.dis-none {
	display: none;
}
/* 显示为块级元素 */
.dis-block {
	display: block;
}
/* 显示为行内元素 */
.dis-inline {
	display: inline;
}
/* 显示为行内块级元素 */
.dis-inlineblock {
	display: inline-block;
}
/* 显示为表格元素 */
.dis-table {
	display: table;
}

