/*  */
.btn-rec-3{
	padding: 6px 12px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.btn-rec-5{
	padding: 6px 12px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.btn-rec-8{
	padding: 6px 12px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}