/*  */
.btn {
	width: 140px;
	display: inline-block;
	border:1px solid transparent;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-default {
	color: #8c96a0;
	background: #efefef;
	border-color: #a9a9a9;
}
/* 大小 */
.btn-sm{
	width: 80px;
	line-height: 30px;
}
.btn-md{
	width: 120px;
	line-height: 35px;
}
.btn-lg{
	width: 160px;
	line-height: 45px;
}
/* 形状 */
.btn-rec {
	border-color: #a9a9a9;
	padding: 6px 12px;	
}
/* 椭圆大小 */
.btn-cir {
	height: 30px;
	width: 30px;
	border-radius: 30px; 
	-webkit-border-radius: 30px; /* Safari Chrome */
	-moz-border-radius: 30px; /* Firfox */
}
.btn-cir-5 {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
.btn-cir-8 {
	height: 80px;
	width: 80px;
	border-radius: 80px;
}
.btn-elliptic {
	
}	
/* 圆角大小 */	
.btn-radius-3 {
	border-radius: 3px;
	-webkit-border-radius: 3px; /* Safari Chrome */
	-moz-border-radius: 3px; /* Firfox */
}
.btn-radius-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari Chrome */
	-moz-border-radius: 5px; /* Firfox */
}
.btn-radius-8 {
	border-radius: 8px;
	-webkit-border-radius: 8px; /* Safari Chrome */
	-moz-border-radius: 8px; /* Firfox */
}
/*  颜色 */
.btn-red {
	border: 1px solid #b42323;
	box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
	background: -webkit-linear-gradient(top,#d53939,#b92929);
	background: -moz-linear-gradient(top,#d53939,#b92929);
	background: linear-gradient(top,#d53939,#b92929);
}
.btn-green {
	border: 1px solid #64c878;
	box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
	background: -webkit-linear-gradient(top,#90dfa2,#84d494);
	background: -moz-linear-gradient(top,#90dfa2,#84d494);
	background: linear-gradient(top,#90dfa2,#84d494);
}
.btn-blue {
	border:1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
}
.btn-orange {
	border:1px solid #ff561c;
	box-shadow: 0 1px 2px #ffad93 inset,0 -1px 0 #ec8c6b inset,0 -2px 3px #ffad93 inset;
	background: -webkit-linear-gradient(top,#ff6e41,#ff6631);
	background: -moz-linear-gradient(top,#ff6e41,#ff6631);
	background: linear-gradient(top,#ff6e41,#ff6631);
}
.btn-yellow {
	border: 1px solid #d2a000;
	box-shadow: 0 1px 2px #fedd71 inset,0 -1px 0 #a38b39 inset,0 -2px 3px #fedd71 inset;
	background: -webkit-linear-gradient(top,#fece34,#d8a605);
	background: -moz-linear-gradient(top,#fece34,#d8a605);
	background: linear-gradient(top,#fece34,#d8a605);
}
.btn-black {
	border: 1px solid #333;
	box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
	background: -webkit-linear-gradient(top,#656565,#4c4c4c);
	background: -moz-linear-gradient(top,#656565,#4a4a4a);
	background: linear-gradient(top,#656565,#4a4a4a);
}
.btn-grey {
	color: #8c96a0;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.btn-violet {
	color: #8a6de9;
	border-color: #a9a9a9;
	color: #8a6de9;
	background: #8a6de9;
}


.btn-red:hover {
	top: 1px;
	box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
	background: -moz-linear-gradient(top,#b11a1a,#bf2626);
	background: linear-gradient(top,#b11a1a,#bf2626);
}
.btn-green:hover {
	top: 1px;
	box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
	background: -moz-linear-gradient(top,#5eac6e,#72b37e);
	background: linear-gradient(top,#5eac6e,#72b37e);
}
.btn-blue:hover {
	border:1px solid #1e7db9;
	box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
	background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
	background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
	background: linear-gradient(top,#42a4e0,#2e88c0);
	top: 1px;
	box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
	background: -moz-linear-gradient(top,#1a71a8,#1976b1);
	background: linear-gradient(top,#1a71a8,#1976b1);
}
.btn-orange:hover {
	top: 1px;
	box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
	background: -moz-linear-gradient(top,#1a71a8,#1976b1);
	background: linear-gradient(top,#1a71a8,#1976b1);
}
.btn-yellow:hover {
	top: 1px;
	box-shadow: 0 1px 3px #816b1f inset,0 3px 0 #fff;
	background: -webkit-linear-gradient(top,#d3a203,#dba907);
	background: -moz-linear-gradient(top,#d3a203,#dba907);
	background: linear-gradient(top,#d3a203,#dba907);
}
.btn-black:hover {
	border: 1px solid #333;
	box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
	background: -webkit-linear-gradient(top,#656565,#4c4c4c);
	background: -moz-linear-gradient(top,#656565,#4a4a4a);
	background: linear-gradient(top,#656565,#4a4a4a);
}
.btn-grey:hover {
	color: #8c96a0;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.btn-violet:hover {
	color: #8a6de9;
	border-color: #a9a9a9;
	color: #8a6de9;
	background: #8a6de9;
}